.main-content {
  height: 1920px;
  width: 1080px;
  padding: 0 100px;

  .start-over {
    font-size: 30px;
    line-height: 100px;
    height: 100px;
    left: 0;
    top: 0;
    padding: 0 20px;
    position: absolute;
  }

  .admin-link {
    font-size: 30px;
    line-height: 100px;
    height: 100px;
    right: 0;
    bottom: 0;
    padding: 0 20px;
    position: absolute;
  }

  .carousel-wrapper{
    height: 1300px;
    .owl-carousel {
      // position: relative;
      width: 800px;
      top: 250px;
      margin: 0 auto;
      .owl-item {
        .price {
          position: absolute;
          right: 50px;
          bottom: 50px;
          font-size: 50px;
          background-color: rgb(233,30,99);
          color: white;
          padding: 50px;
          border-radius: 600px;
        }
      }
    }
  }
  .buy {
    margin: 0 auto;
    display: block;
    font-size: 50px;
    padding: 20px 200px;
    height: 100px;
    vertical-align: middle;
    opacity: 1;
    visibility: visible;
  }
  .sizes {
    display: none;
    margin: 0 auto;
    text-align: center;

    button {
      font-size: 50px;
      display: inline;
      padding: 20px 60px;
      height: 100px;
      vertical-align: middle;
      &.next{
        display: block;
      }
    }
  }

  .phone-number {
    padding-top: 500px;
    display: none;
    text-align: center;
    form {
      font-size: 50px;
      input[type="text"]{
        padding: 19px 20px;
        text-align: right;

      }
      button {
        font-size: 50px;
        padding: 0 20px;
        height: 100px;
      }
    }
    .numpad {
      width: 350px;
      margin: 100px auto;
      button {
        display: inline;
        font-size: 50px;
        width: 100px;
        height: 100px;
        margin: 10px 0;
      }
    }
  }
  .confirmation {
    padding-top: 500px;
    display: none;
    text-align: center;
    font-size: 50px;
    a {
      font-size: 50px;
      height: 100px;
      padding: 0 20px;
      vertical-align: middle;
      line-height: 120px;
    }
  }

  .admin{
    padding-top: 200px;
    table {
      width: 100%;
      th, td {
        text-align: left;
        vertical-align: middle;
        font-size: 30px;
      }
      img {
        width: 100px;
      }
    }
  }
}
